# Dependencias
node_modules/

# Builds
dist/
dist-ssr/

# Archivos temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuración local
.env
*.local

# Archivos de sistema y editores
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Netlify
.netlify/

# Archivos generados por errores
coverage/

